<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.lakeland.plantsd.flightlogger">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".HomeScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FlightLogsActivity"
            android:label="@string/title_flightlogs_activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.lakeland.plantsd.flightlogger.HomeScreen" />
        </activity>
        <activity
            android:name=".NewChecklistActivity"
            android:label="@string/title_checklists_activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.lakeland.plantsd.flightlogger.HomeScreen" />
        </activity>
        <activity android:name=".NewFlightLogActivity" />
        <activity
            android:name=".PilotsActivity"
            android:label="@string/title_pilots_activity"
            android:parentActivityName=".HomeScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.lakeland.plantsd.flightlogger.HomeScreen" />
        </activity>
        <activity android:name=".NewPilotActivity" />
        <activity android:name=".PilotInfoActivity" />
        <activity android:name=".FlightLogInfoActivity" />
        <activity android:name=".TestActivity" />
        <activity
            android:name=".ChecklistsActivity"
            android:label="@string/title_checklists_activity"
            android:theme="@style/AppTheme" />
        <activity android:name=".ChecklistInfoActivity" />
        <activity
            android:name=".SettingsMenu"
            android:label="Settings"/>
    </application>

</manifest>